                        <!-- 5.5.3. Использование класса TemplateView для вызова шаблонов. Стр 154 - 158. -->
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta content="text/html; charset=utf-8">
    <title>Привет Django!</title>
  </head>
  <body>
    <h1>Контактные данные компании</h1>
    <h2>"Интеллектуальные программные системы."</h2>
    <h3>{{ work }}</h3>  <!-- Дополняет шаблон динамическим контентом. -->
    <!-- При отсутствии передаваемых данных ничего не печатается, ошибки не возникает. -->
    <h3>Адрес: г. Москва, ул. Короленко, д. 24</h3>
    <h4>templates/firstapp/contact_not_base.html</h4>
  </body>
</html>
