                               <!-- 5.1. Создание и использование шаблонов. -->
                               <!-- "Шаблон приложения". Стр 135 - 137. -->

                               <!-- 5.2. Класс TemplateResponse. Стр. 137 - 138. -->
<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta content="text/html; charset=utf-8">
    <title>Привет Django!</title>
  </head>
  <body>
    <h1>Добро пожаловать!</h1>
    <h2>Домашняя страница Django!</h2>
    <h3>templates/firstapp/home_simple.html</h3>
  </body>
</html>
