                  <!-- 5.6. Использование специальных тегов в шаблонах HTML-страниц. Стр. 164 - 171. -->
{% extends 'firstapp/base.html' %}
{% block title %}About{% endblock title %}
{% block header %}Сведения о компании{% endblock header %}
{% block content %}
  <p>"Интеллектуальные программные системы."</p>
  <p>&nbsp;</p>
  <!-- 5.6.1. Тег для вывода текущих даты и времени. Стр. 164 - 166. -->
  <p>Примеры вывода даты и времени.</p>
  <p>Год: {% now "Y, y" %}</p>
  <p>Месяц: {% now "F, M, m, n" %}</p>
  <p>День недели: {% now "L, l" %}</p>
  <p>День месяца: {% now "j" %}</p>
  <p>Часы (0 - 12): {% now "h" %}</p>
  <p>Дата (месяц/день/год): {% now "m/j/Y" %}</p>
  <p>Дата: {% now "j.m.y" %}</p>
  <p>Время по Гринвичу: {% now "H:i:s" %}</p>
  <p>&nbsp;</p>
  <!-- 5.6.2. Тег для вывода информации по условию. Стр. 166 - 168. -->
  <p>Анализ возраста клиента.</p>
  {% if age %} <!-- Эквивалентно 'if age is not None:' -->
    {% if age > 65 %}
      <p>Клиент достиг пенсионного возраста.</p>
    {% else %}
      <p>Клиент не является пенсионером.</p>
    {% endif %}
  {% else %}
    <p>Возраст клиента не задан.</p>
  {% endif %}
  <p>&nbsp;</p>
  <!-- 5.6.3. Тег для вывода информации в цикле. Стр. 168 - 170. -->
  <p>Категории товаров.</p>
  {% for cat in cats %}
    <li>{{ cat }}</li>
  {% empty %}
    <li>Категории товаров отсутствуют.</li>
  {% endfor %}
  <p>&nbsp;</p>
  <!-- 5.6.3. Тег для задания значений переменным. Стр. 170 - 171. -->
  <p>Задание значений переменным.</p>
  {% with name="овец" number=age %} <!-- Переменным можно присваивать только константы или переданные значения. -->
    <p>Мы насчитали {{ number }} {{ name }}.</p>
  {% endwith %}
  <p>&nbsp;</p>
{% endblock content %}
